# Env files
.env
.env.*
!example.env

# Database
*.db
*.sqlite3
backend/data/app.db
backend/data/*.db

# VSCode
.vscode/

# Python cache
__pycache__/
*.py[cod]

# Node
node_modules/
dist/

# Virtual envs
venv/
.venv/

# macOS
.DS_Store
._*